/*--------- The Entire Page ---------*/
#root {
  margin: 0 auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/*--------- i don't knowww ---------*/
#row_players {
  display: flex;
  justify-content: space-evenly;
}

.box {
  border: 1px solid black;
}

.main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main_title {
  font-size: 45px;
  margin-bottom: 18px;
}
.play-regular {
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: x-large;
}

.play-bold {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.play-board {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}

/*--------- Board Component ---------*/
#board_div_category {
  background-color: blue;
  color: white;
  text-align: center;
  width: 100%;
  font-size: 24pt;
}

#board_grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board-grid-row {
  display: flex;
}

.board-box {
  border: 2px solid black;
  background-color: mediumseagreen;
  height: 4rem;
  width: 3rem;

  font-size: 2.5rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.board-box-hidden {
  border: 2px solid none;
  background-color: none;
  border-radius: 3px;
  height: 3rem;
  width: 3rem;
}

/*--------- Player Component ---------*/
.player-list {
  display: inline;
  align-items: center;
}

.player-list * {
  margin-bottom: 0.5em;
}

#player1 {
  background-color: crimson;
  color: rgb(255, 245, 245);
}

#player2 {
  background-color: blue;
  color: rgb(245, 245, 255);
}

#player3 {
  background-color: gold;
  color: rgb(255, 250, 245);
}

.player-card {
  border-radius: 4px;
  padding: 0.75em;
  
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;

  width: 8em;
}

.player-card-inactive {
  border-radius: 4px;
  padding: 0.75em;

  filter: brightness(80%) saturate(110%);

  width: 8em;
}

.player-card-bankrupt {
  background-color: gray;
  border-radius: 4px;
  color: white;
  padding: 0.75em;

  width: 8em;
}

/*--------- ModalComponent styling ---------*/
@keyframes modal_card_slidein {
  0% {
    opacity: 0%;
    top: -5%;
  }

  100% {
    opacity: 100%;
    top: 0;
  }
}

.modalcomponent-background-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalcomponent-card-div {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  position: relative;

  animation: modal_card_slidein 0.5s ease-in-out 0s 1;
}

.modalcomponent-button {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #ccc;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#modal_names_form p{
  padding-top: 0.5em;
}

/*--------- gridbox styling ---------*/
#main_gridbox {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(16, auto);
  grid-template-rows: repeat(9,auto);
  gap: 0;
  justify-content: center;
  
  margin-bottom: 1em;
}

#main_gridbox_board {
  grid-column-start: 1;
  grid-column-end: 10;
  grid-row-start: 2;
  grid-row-end: 6;
}

#main_gridbox_player {
  grid-column-start: 10;
  grid-column-end: 16;
  grid-row-start: 5;
  grid-row-end: 10;
}

#main_gridbox_guessed {
  grid-column-start: 10;
  grid-column-end: 16;
  grid-row-start: 2;
  grid-row-end: 5;

  padding-left: 0.5em;
  width: 12em;
}

#main_gridbox_prompt {
  grid-column-start: 1;
  grid-column-end: 10;
  grid-row-start: 6;
  grid-row-end: 10;

  height: 7em;
}

#main_gridbox_prompt div {
  padding: 0 0 0 0.25em;
}

#main_gridbox_status {
  grid-column-start: 1;
  grid-column-end: 16;
  grid-row-start: 1;
  grid-row-end: 2;

  display: flex;
  align-items: center;
  gap: 1em;
}

/*--------- prompt styling ---------*/
.prompt-fragment {
  width: fit-content;
  margin: auto;
  text-align: center;
}